.chat-container{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}

.chat-toggle{
  background-color:#b700ff;
  color: white;
  border: none;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);

}

.chat-toggle:hover{
    background-color: #9500b3;
}

.chat-box{
  background-color:white;
  border: 1px solid #ddd;
  height: 450px;
  width: 350px;
  border-radius:0px;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  bottom: 100px;
  left: 0;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}

.chat-header{
    background-color:#8400ff;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-body{
  flex-grow:1;
  padding:15px;
  overflow-y: auto;
  font-size: 14px;
  color:#333 ;
}

.chat-footer{
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}